extends layout

block content
    h1= title

    // Wrapper
    #wrapper

        // ITEM LIST
        h2 Item List
        #itemList
            table
                thead
                    th Id
                    th Price
                tbody
        // /ITEM LIST

        // ADD ITEM
        h2 Add Item
        #addItem
            fieldset
                input#inputItemId(type='text', placeholder='WoW Item Id')
                input#inputItemPrice(type='text', placeholder='Price')
                button#btnAddItem Add Item
        // /ADD ITEM

    // /WRAPPER
