<!DOCTYPE html>
<html>
    <head>
        <title>WoW Auction House</title>
        <link rel="stylesheet" href="/stylesheets/style.css ">
    </head>
    <body>
        <h1>WoW Auction House</h1>
        <div id="wrapper ">
            <h2>Item List</h2>
            <div id="itemList">
                <table>
                    <thead>
                        <th>Id</th>
                        <th>Price</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <h2>Add Item</h2>
            <div id="addItem">
                <fieldset>
                    <input id="inputItemId " type="text " placeholder="WoW Item Id ">
                    <input id="inputItemPrice " type="text " placeholder="Price ">
                    <button id="btnAddItem ">Add Item</button>
                </fieldset>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="/javascripts/global.js"></script>
    </body>
</html>
