extends layout

block content
    h1= title
    p WoW Auction House

    // Wrapper
    #wrapper

        // ITEM INFO
        #itemInfo
            h2 Item Info
            p
                strong Id:
                |  <span id='itemInfoId'></span>
                br
                strong Price:
                |  <span id='itemInfoPrice'></span>
                br
        // /ITEM INFO

        // ITEM LIST
        h2 Item List
        #itemList
            table
                thead
                    th Id
                    th Price
                tbody
        // /ITEM LIST

        // ADD ITEM
        h2 Add Item
        #addItem
            fieldset
                input#inputItemId(type='text', placeholder='ItemId')
                input#inputItemPrice(type='text', placeholder='ItemPrice')
                button#btnAddItem Add Item
        // /ADD ITEM

    // /WRAPPER
